watch_file pyproject.toml
eval "$(pixi shell-hook)"
export PATH="$PATH:$HOME/Library/TinyTeX/bin/universal-darwin"
export SPEASY_SKIP_INIT_PROVIDERS=1
export SPEASY_CORE_DISABLED_PROVIDERS="amda,ssc"
export OVERLEAF_ID=668273f5d14067a22517615c
export OVERLEAF_FMT="pdf"